* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90%;
}
.header {
  background: aliceblue;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #000;
  margin: 0 30px;
  font-size: 25px;
}
nav .active {
  color: red;
}

.header img {
  width: 65px;
  height: 65px;
  object-fit: cover;
}
