.container {
  width: 100%;
  margin: 0 auto;
}

#orders {
  height: 100vh;
}

.orders {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.orders h1 {
  color: #33332d;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3.2px;
  text-align: center;
  margin-top: 40px;
}

.ordersTwo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 140px;
  border-radius: 10px;
  background: #d9d9d9;
}

.text h3 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.08px;
}
.text p {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.72px;
  padding: 20px 0;
}
.delBtn {
  width: 188px;
  height: 40px;
  border-radius: 10px;
  background: #bd1d1d;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
  border: none;
  margin: -30px 0;
}

.counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.counter h1 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  padding: 0 15px;
}

.min {
  width: 60px;
  height: 38px;
  border-radius: 10px;
  background: #ddaa27;
  color: #000;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.08px;
  border: none;
  margin-top: 35px;
}
.pul {
  width: 60px;
  height: 38px;
  border-radius: 10px;
  background: #ddaa27;
  color: #000;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.08px;
  border: none;
  margin-top: 35px;
}
