.container {
  width: 100%;
  margin: 0 auto;
}
#admin {
  height: 100vh;
  background: cadetblue;
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.admin h1 {
  color: #33332d;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3.2px;
  text-align: center;
  margin-top: 40px;
}

input {
  color: #000;
  background: #d9d9d9;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.4px;
  border-radius: 10px;
  width: 549px;
  height: 67px;
  padding: 30px 30px;
}

.box-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create button {
  width: 254.1px;
  height: 80px;
  border-radius: 10px;
  background: #d9d9d9;
  padding: 4px 7px;
  cursor: pointer;
  border: none;
  color: #33332d;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.08px;
  margin-top: 30px;
}
.create button:hover {
  background: #ddaa27;
  color: #d9d9d9;
}
